.canvasContainer {
  background: #fff;
  flex: 10;
  margin: 5px;
  height: 100%;
  width: 99.2%;
  font-family: languagegarden_regular;
  .svgRect {
    border: 1px dashed #ddd;
  }
  .circleParty {
    stroke: none;
    cursor: move;
  }
  .textDraw {
    cursor: pointer;
  }
  .textDraw:nth-child(1n) {
    .circleParty {
      fill: #2be895;
    }
  }
  .textDraw:nth-child(2n) {
    .circleParty {
      fill: #a2594d;
    }
  }
  .textDraw:nth-child(3n) {
    .circleParty {
      fill: #07f348;
    }
  }
  .textDraw:nth-child(4n) {
    .circleParty {
      fill: #66434f;
    }
  }
  .textDraw:nth-child(5n) {
    .circleParty {
      fill: #01946c;
    }
  }
}
